body{
    font-family: 'Courier New', Courier, monospace;
}

.header{
    color: white;
    background-color: black;
    text-align: center;
}

img{
    height: auto;
    width: 300px;
}

li{
    font-weight: bold;
    font-size: 70px;
}